body {
  margin: auto;
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

.container {
  display: inline-block;
  width: 30vw;
}

.image {
  width: 10vw;
}

.image-div,
div.container {
  width: 10vw;
}
